@charset "ISO-8859-1";

html{
	height: 100%;
}

body{
	height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

*{
    box-sizing: border-box;
}

#bg-image {
    background-image: url("../images/bgp.jpg");
  
    filter: blur(3px);
    -webkit-filter: blur(3px);

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.1);
  }


#blok-prijava{
    height: 70%;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0,0.5);
    border-radius: 20px;
    transform: translate(-50%, -50%);
    text-align: center;
}

#logo{
    height: 100px;
    width: 100px;
    position: relative;
    transform: translate(0, -50%);
    margin: 0;
}

#naslov{
    margin: 0;
    color: blue;
    font-size: 30px;
    margin-top: -30px;
}

input[type="username"]{
    height: 30px;
    width: 70%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: blue;
    font-size: 25px;
    border-radius: 10px;
    padding-left: 20px;
    margin-top: 40px;
}

input[type="text"]:focus{
    outline: none;
}

input[type="password"]{
    height: 30px;
    width: 70%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: blue;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 50px;
    padding-left: 20px;
}

input[type="password"]:focus{
    outline: none;
}

.text-labela{
    color: white;
    margin: 20px;
}

#login-btn{
    margin-top: 50px;
    height: 50px;
    width: 70%;
    border-radius: 10px;
    background-color: black;
    color: blue;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-bottom: 50px;
}

#login-btn:hover{
    transition: 1s ease;
    background-color: white;
    color: blue;
    
}

#login-btn:focus{
    outline: none;
}

#not-a-usr{
    color: gray;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: rgb(103, 187, 226);
}

#error{
	margin-top: 50px;
}