@charset "ISO-8859-1";

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
}

#bg-image {
    background-image: url("../images/bgp.jpg");
  
    filter: blur(3px);
    -webkit-filter: blur(3px);

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.1);
  }

  #blok-registracija{
    height: 70%;
    width: 50%;

    position: absolute;
    top: 50%;
    left: 50%;

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    transform: translate(-50%, -50%);
    text-align: center;
}

#logo{
    height: 100px;
    width: 100px;
    position: relative;
    transform: translate(0, -70%);
    margin: 0;
}

#title{
    margin: 0;
    color: blue;
    font-size: 30px;
    margin-top: -70px;
}

input[type="input1"]{
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: blue;
    font-size: 25px;
    border-radius: 10px;
    padding-left: 20px;
    margin-top: 40px;
    margin-left: 30px;
}

input:focus{
    outline: none;
}
label{

    font-size: 25px;
    color: blue;
    margin-right: 20px;
}

table td{
    padding-top: 30px;
    padding-bottom: 30px;
}

table{
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}
select{
    height: 30px;
    width: 60%;
    font-size: 25px;
    background-color: black;
    color: blue;
    border: none;
    margin-right: 0;
    padding-left: 50px;
    float: right;
    border-radius: 10px;
}
select:hover{
    transition: 0.5s ease;
    background-color: white;
    color: blue;
    cursor: pointer;
}

select:focus{
    outline: none;
}

option{
    background-color: transparent;
}

input[type="date"]{
    height: 30px;
    width: 30%;
    border: none;
    border-radius: 10px;
    float:right;
    margin-right: 20px;
    cursor: pointer;
    background-color: black;
    color: blue;
}

input[type="date"]:focus{
    outline: none;
}

input[type="submit"]{
    height: 50px;
    width: 70%;
    border-radius: 20px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    background-color:black;
    color:blue;
}


input[type="submit"]:focus{
    outline: none;
}


input[type="submit"]:hover{
    transition: 1s ease;
    background-color:white;
    color:blue;
}